In [8]:
import pandas as pd

In [9]:
arquivo = "arquivos/salarios.csv"

In [10]:
df = pd.read_csv(arquivo)

In [11]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [14]:
df['Position Title'].value_counts()

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64

In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jamile.santos\anaconda3\lib\site-packages (4.23.1)
Requirement already satisfied: websocket-client~=1.8 in c:\users\jamile.santos\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jamile.santos\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\jamile.santos\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\jamile.santos\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: trio~=0.17 in c:\users\jamile.santos\anaconda3\lib\site-packages (from selenium) (0.26.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\jamile.santos\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=23.2.0 in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: exceptiongroup in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.2)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: sortedcontainers in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\jamile.santos\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jamile.santos\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\jamile.santos\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jamile.santos\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium as sl