In [1]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "c:\Users\jamile.santos\Anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\Users\jamile.santos\Anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
    self.io_loop.start()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\jamile.santos\Anaconda3\lib\asyncio\base_events.py", line 601, in run_forever
    self._run_once()
  File "c:\Users\jamile.santos\Anaconda3\lib\asyncio\base_events.py", line 1905, in _run_once
    handle._run()
  File "c:\Users\jamile.santos\Anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
    reply_content = await reply_content
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 390, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\jamile.santos\AppData\Local\Temp\ipykernel_22128\4080736814.py", line 1, in <module>
    import pandas as pd
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\__init__.py", line 80, in <module>
    from pandas.core.api import (
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\jamile.santos\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "c:\Users\jamile.santos\Anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\Users\jamile.santos\Anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
    self.io_loop.start()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\jamile.santos\Anaconda3\lib\asyncio\base_events.py", line 601, in run_forever
    self._run_once()
  File "c:\Users\jamile.santos\Anaconda3\lib\asyncio\base_events.py", line 1905, in _run_once
    handle._run()
  File "c:\Users\jamile.santos\Anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
    reply_content = await reply_content
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 390, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\jamile.santos\AppData\Local\Temp\ipykernel_22128\4080736814.py", line 1, in <module>
    import pandas as pd
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\__init__.py", line 80, in <module>
    from pandas.core.api import (
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\jamile.santos\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\jamile.santos\Anaconda3\lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [2]:
arquivo = "arquivos/salarios.csv"

In [3]:
df = pd.read_csv(arquivo)

In [4]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [6]:
df.value_counts()

Name                   Position Title       Department     Employee Annual Salary
ARREDONDO,  TIMOTHY J  ELECTRICAL MECHANIC  WATER MGMNT    $91520.00                 2
KELLY,  MICHAEL J      FIREFIGHTER          FIRE           $83616.00                 2
FLORES,  GABRIEL       SERGEANT             POLICE         $103590.00                2
JONES,  DANIEL         POLICE OFFICER       POLICE         $69684.00                 2
JACKSON,  MICHAEL      SANITATION LABORER   STREETS & SAN  $72384.00                 2
                                                                                    ..
ABRAMSKI,  JOHN E      AMBULANCE COMMANDER  FIRE           $123948.00                1
ABRATANSKI,  MARK A    FIREFIGHTER-EMT      FIRE           $85680.00                 1
ABREU,  DILAN          SEWER BRICKLAYER     WATER MGMNT    $88566.40                 1
ABREU,  EDWIN          TREE TRIMMER         STREETS & SAN  $74464.00                 1
AARON,  JEFFERY M      POLICE OFFICER       POLICE         $80778.00                 1
Name: count, Length: 32169, dtype: int64

In [7]:
df.columns

Index(['Name', 'Position Title', 'Department', 'Employee Annual Salary'], dtype='object')

In [8]:
df.count()

Name                      32181
Position Title            32181
Department                32181
Employee Annual Salary    32181
dtype: int64

In [9]:
df.isnull()

        Name  Position Title  Department  Employee Annual Salary
0      False           False       False                   False
1      False           False       False                   False
2      False           False       False                   False
3      False           False       False                   False
4      False           False       False                   False
...      ...             ...         ...                     ...
32177  False           False       False                   False
32178  False           False       False                   False
32179  False           False       False                   False
32180  False           False       False                   False
32181   True            True        True                    True

[32182 rows x 4 columns]

In [10]:
df.dtypes

Name                      object
Position Title            object
Department                object
Employee Annual Salary    object
dtype: object

In [12]:
df['Position Title'].value_counts()

Position Title
POLICE OFFICER                               9489
FIREFIGHTER-EMT                              1191
SERGEANT                                     1138
FIREFIGHTER                                   970
POLICE OFFICER (ASSIGNED AS DETECTIVE)        808
                                             ...
DEPUTY DIR OF ADMINISTRATIVE ADJUDICATION       1
OPERATIONS ANALYST                              1
FIRST DEPUTY SUPERINTENDENT                     1
PREPRESS TECHNICIAN                             1
PROGRAM COORD                                   1
Name: count, Length: 1094, dtype: int64